@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", sans-serif;
}

html, body {
  height: 100%;
  background: #F5F6F8;
}

nav {
  background: #fff;
}

.frame {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 12px 0;
}
.frame .search {
  position: relative;
  margin-left: 18px;
}
.frame .search i {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame .search input {
  height: 32px;
  width: 312px;
  background: rgba(222, 222, 222, 0.32);
  border-radius: 4px;
  border: none;
  font-size: 14px;
  padding: 0 15px 0 44px;
}
.frame .search input::-moz-placeholder {
  color: #AAAAAA;
}
.frame .search input::placeholder {
  color: #AAAAAA;
}
.frame .menu {
  margin: 0 auto;
}
.frame .menu ul {
  display: flex;
}
.frame .menu ul li {
  margin: 0 16px;
}
.frame .user {
  display: flex;
  align-items: center;
}
.frame .user .user-info {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 6px;
}
.frame .user .user-info h3 {
  color: #17272F;
  font-size: 15px;
  font-weight: 400;
}
.frame .user .user-info p {
  color: #31B057;
  font-size: 12px;
  font-weight: 400;
}

main {
  margin-top: 16px;
}
main .container {
  width: 1140px;
  margin: auto;
  display: flex;
}
main .container .content {
  margin: 0 30px;
}
main .container .sidebar {
  width: 270px;
  min-width: 270px;
}
main .container .sidebar .profile-widget {
  margin-bottom: 16px;
  height: 225px;
  border-radius: 6px;
  background: #fff;
  text-align: center;
}
main .container .sidebar .profile-widget .user {
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: solid 1px #EDF0F5;
  display: inline-block;
}
main .container .sidebar .profile-widget .user .cover {
  margin-top: 8px;
}
main .container .sidebar .profile-widget .user .avatar {
  text-align: center;
}
main .container .sidebar .profile-widget .user .avatar img {
  width: 52px;
  height: 52px;
  margin-top: -26px;
  border: 2px solid #fff;
  border-radius: 50%;
}
main .container .sidebar .profile-widget .user h3 {
  color: #17272F;
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 4px;
}
main .container .sidebar .profile-widget .user p {
  color: #AAA;
  font-size: 14px;
  font-weight: 400;
}
main .container .sidebar .profile-widget .views .view-stats {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  color: #17272F;
  font-size: 14px;
  font-weight: 400;
}
main .container .sidebar .profile-widget .views .view-stats:not(:last-child) {
  margin-bottom: 16px;
}
main .container .sidebar .profile-widget .views .view-stats span {
  color: #069;
  font-size: 14px;
  font-weight: 500;
}
main .container .sidebar .trends-widget {
  height: 301px;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 16px;
}
main .container .sidebar .trends-widget .trend-container {
  padding: 15px;
}
main .container .sidebar .trends-widget .trend-container h2 {
  color: #17272F;
  font-size: 14px;
  font-weight: 500;
}
main .container .sidebar .trends-widget .trend-container ul li {
  color: #069;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
}
main .container .sidebar .trends-widget .trend-container ul li img {
  margin-right: 8px;
}
main .container .sidebar .trends-widget .newest {
  margin-bottom: 36px;
}
main .container .sidebar .trends-widget .newest span {
  border-bottom: 1px solid #EDF0F5;
  display: block;
  padding-bottom: 8px;
  margin-bottom: 12px;
}
main .container .sidebar .trends-widget .group .group-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EDF0F5;
  padding-bottom: 8px;
  margin-bottom: 12px;
}
main .container .sidebar .trends-widget .group .group-title .dropdown a {
  color: #31B057;
  font-size: 14px;
  font-weight: 400;
}
main .container .sidebar .add-event-widget {
  width: 270px;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 16px;
}
main .container .sidebar .add-event-widget h2 {
  color: #17272F;
  font-size: 14px;
  font-weight: 500;
  padding: 17px;
  display: flex;
  justify-content: space-between;
}
main .container .sidebar .find-more-widget {
  background: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
}
main .container .sidebar .find-more-widget h2 {
  color: #069;
  font-size: 14px;
  font-weight: 500;
  padding: 20px 0;
}
main .container .content .create-post-box {
  width: 540px;
  border-radius: 6px;
  background: #FFF;
  margin-bottom: 20px;
}
main .container .content .create-post-box .create-placeholder {
  padding-left: 16px;
}
main .container .content .create-post-box .create-placeholder span {
  border-bottom: 1px solid #EDF0F5;
  padding-top: 17px;
  margin-bottom: 17px;
  padding-bottom: 29px;
  color: #AAA;
  font-size: 14px;
  font-weight: 400;
  display: block;
}
main .container .content .create-post-box ul {
  display: flex;
  padding-left: 24px;
  padding-bottom: 15px;
}
main .container .content .create-post-box ul li {
  color: #17272F;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-right: 63px;
}
main .container .content .create-post-box ul li img {
  margin-right: 8px;
}
main .container .content .create-post-box ul li:last-child {
  margin-right: -63px;
}
main .container .content .filter-post {
  height: 52px;
  background: rgba(222, 222, 222, 0.24);
  border-radius: 6px;
  margin-bottom: 14px;
}
main .container .content .filter-post .filter-container {
  padding: 13px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .container .content .filter-post .filter-container h5 {
  padding-left: 20px;
  color: #17272F;
  font-size: 14px;
  font-weight: 400;
}
main .container .content .filter-post .filter-container a {
  display: flex;
  align-items: center;
  color: #17272F;
  font-size: 14px;
  font-weight: 500;
}
main .container .content .filter-post .filter-container a img {
  width: 20px;
  height: 20px;
  margin-left: 16px;
  margin-right: 16px;
  color: #AAAAAA;
}
main .container .content .post {
  border-radius: 6px;
  background: #FFF;
  margin-bottom: 18px;
}
main .container .content .post .post-container {
  padding: 13px 16px 21px 16px;
}
main .container .content .post .post-container .post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EDF0F5;
  padding-bottom: 9px;
  margin-bottom: 18px;
}
main .container .content .post .post-container .post-info .author {
  display: flex;
}
main .container .content .post .post-container .post-info .author img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin-right: 12px;
}
main .container .content .post .post-container .post-info .author .author-info h4 {
  color: #17272F;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2px;
}
main .container .content .post .post-container .post-info .author .author-info h5 {
  color: #AAA;
  font-size: 10px;
  font-weight: 400;
}
main .container .content .post .post-container .post-content {
  margin-bottom: 20px;
}
main .container .content .post .post-container .post-content h4 {
  color: #17272F;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
main .container .content .post .post-container .post-content h4 span {
  color: #069;
  font-size: 14px;
  font-weight: 500;
}
main .container .content .post .post-container .post-content img {
  width: 508px;
  height: 230px;
  border-radius: 6px;
}
main .container .content .post .post-container .post-interact {
  margin-bottom: 22px;
}
main .container .content .post .post-container .post-interact .interact-info {
  border-bottom: 1px solid #EDF0F5;
  padding-bottom: 13px;
  margin-bottom: 13px;
  display: flex;
}
main .container .content .post .post-container .post-interact .interact-info .interact-container {
  margin-right: 22px;
}
main .container .content .post .post-container .post-interact .interact-info .interact-container img:first-child {
  margin-right: 9px;
}
main .container .content .post .post-container .post-interact .interact-info h6 {
  color: #17272F;
  font-size: 10px;
  font-weight: 400;
}
main .container .content .post .post-container .post-interact ul {
  display: flex;
}
main .container .content .post .post-container .post-interact ul li {
  display: flex;
  align-items: center;
  margin-right: 17px;
}
main .container .content .post .post-container .post-interact ul li span {
  color: #AAA;
  font-size: 16px;
  font-weight: 400;
}
main .container .content .post .post-container .post-interact ul li img {
  margin-right: 8px;
}
main .container .content .post .post-container .post-comment {
  display: flex;
}
main .container .content .post .post-container .post-comment img {
  width: 32px;
  height: 32px;
  border-radius: 0px;
  margin-right: 12px;
}
main .container .content .post .post-container .post-comment .text-area {
  display: flex;
  position: relative;
  align-items: center;
}
main .container .content .post .post-container .post-comment .text-area a {
  position: absolute;
  border-left: 1px solid #EDF0F5;
  right: 14px;
  padding-left: 16px;
}
main .container .content .post .post-container .post-comment .text-area img {
  width: 20px;
  height: 20px;
}
main .container .content .post .post-container .post-comment .text-area textarea {
  overflow: hidden;
  width: 459px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #EDF0F5;
}
main .container .content .post .post-container .post-comment .text-area textarea::-moz-placeholder {
  padding: 16px 16px 16px;
  color: #DEDEDE;
  font-size: 14px;
  font-weight: 400;
}
main .container .content .post .post-container .post-comment .text-area textarea::placeholder {
  padding: 16px 16px 16px;
  color: #DEDEDE;
  font-size: 14px;
  font-weight: 400;
}
main .container .sidebar:last-child {
  width: 270px;
  border-radius: 6px;
}
main .container .sidebar:last-child .recommend-widget {
  border-radius: 6px;
  background: #FFF;
  margin-bottom: 12px;
}
main .container .sidebar:last-child .recommend-widget .recommend-container {
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
}
main .container .sidebar:last-child .recommend-widget .recommend-container p {
  color: #17272F;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #EDF0F5;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
main .container .sidebar:last-child .recommend-widget .recommend-container ul {
  margin-bottom: -16px;
  margin-bottom: 36px;
}
main .container .sidebar:last-child .recommend-widget .recommend-container ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
main .container .sidebar:last-child .recommend-widget .recommend-container ul li .plus {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #069;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #069;
  transition: 300ms all;
}
main .container .sidebar:last-child .recommend-widget .recommend-container ul li .plus:hover {
  background: #069;
  color: white;
}
main .container .sidebar:last-child .recommend-widget .recommend-container ul li .feed-page {
  display: flex;
  align-items: center;
}
main .container .sidebar:last-child .recommend-widget .recommend-container ul li .feed-page img {
  margin-right: 8px;
}
main .container .sidebar:last-child .recommend-widget .recommend-container ul li .feed-page .page-detail h5 {
  color: #17272F;
  font-size: 14px;
  font-weight: 500;
}
main .container .sidebar:last-child .recommend-widget .recommend-container ul li .feed-page .page-detail h6 {
  color: #AAA;
  font-size: 12px;
  font-weight: 400;
}
main .container .sidebar:last-child .recommend-widget .recommend-container h3 {
  color: #069;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 18px;
}
main .container .sidebar:last-child .ad-widget {
  border-radius: 6px;
  background: #FFF;
  margin-bottom: 54px;
}
main .container .sidebar:last-child .ad-widget .ad-container {
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
}
main .container .sidebar:last-child .ad-widget .ad-container .ad-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EDF0F5;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
main .container .sidebar:last-child .ad-widget .ad-container .ad-header .header-text h4 {
  color: #17272F;
  font-size: 14px;
  font-weight: 500;
}
main .container .sidebar:last-child .ad-widget .ad-container .ad-header .header-text h5 {
  color: #AAA;
  font-size: 10px;
  font-weight: 400;
}
main .container .sidebar:last-child .ad-widget .ad-container .ad-content {
  margin-bottom: 36px;
}
main .container .sidebar:last-child .ad-widget .ad-container .ad-content .ad-imgs {
  padding-left: 36px;
  padding-right: 36px;
  margin-bottom: 16px;
}
main .container .sidebar:last-child .ad-widget .ad-container .ad-content h3 {
  color: #17272F;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: -19px;
}
main .container .sidebar:last-child .ad-widget .ad-container .ad-content h3 span {
  color: #17272F;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
main .container .sidebar:last-child .ad-widget .ad-container h3 {
  color: #069;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 19px;
}
main .container .sidebar:last-child .sitemap {
  border-radius: 6px;
  width: 270px;
}
main .container .sidebar:last-child .sitemap nav {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #DEDEDE;
  padding-bottom: 32px;
  margin-bottom: 12px;
}
main .container .sidebar:last-child .sitemap nav a {
  color: #AAA;
  font-size: 10px;
  font-weight: 400;
  margin-right: 21px;
  margin-bottom: 16px;
}
main .container .sidebar:last-child .sitemap .copyright {
  display: flex;
  justify-content: space-between;
}
main .container .sidebar:last-child .sitemap .copyright h6 {
  color: #AAA;
  font-size: 10px;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */